<div class="d-flex justify-content-between text-white mb-3">
    <div class="container">
        <div class="my-2">
            <h6>
                <span>
                    <i class="fa fa-exclamation-triangle"
                        aria-hidden="true">&nbsp;</i>
                </span>
                {{data.title}}
            </h6>
        </div>
        <div class="col-12">{{data.body}}</div>
    </div>
</div>