<div class="container" >
	<footer class="row mb-4" style="height: 1px !important">
		<img
			class="image-responsive col-md-5 col-xs-8 col-md-offset-2 mt-2 mb-5"
			style="max-height: 100px; max-width: 300px;"
			alt="Argentina.gob.ar - Presidencia de la Nación"
			src="./assets/img/logo_ministerio.png"
		/>

		<h5 class="col-md-3 hidden-xs col-md-offset-3" style="margin-top: 50px; margin-bottom: auto;">
			<b>Versión</b>
		</h5>
	</footer>
</div>
