<mat-toolbar style="position: sticky; top: 0; z-index: 1000 !important;">
	<mat-toolbar-row class="d-flex justify-content-between bg-white">
		<img src="../../../../assets/img/logo_cnrt_color.png" alt="Logo CNRT" class="logo-cnrt" />

		<ng-container class="d-none d-lg-block">
			<ul class="nav font-16">
				<!-- <li class="nav-item d-flex align-items-center pointer" *ngIf="user$ | async"> -->
          <li class="nav-item d-flex align-items-center pointer">
					<a class="nav-link">
						<i class="fa fa-bell-o texto-primario" aria-hidden="true"></i>
					</a>
				</li>
				<mat-menu #menu="matMenu" xPosition="before">

					<!-- <p mat-menu-item class="h6">{{ (user$ | async)?.userInfo.username }}</p> user$ es observable se usa el $ por convencion -->
          <p mat-menu-item class="h6">{{ user$ }}</p> <!--user$ es observable se usa el $ por convencion-->

          <p mat-menu-item style="font-size: small;" class="mb-0">

            <!-- {{ (user$ | async)?.userInfo.nombre | titlecase }}
            {{ (user$ | async)?.userInfo.apellido | titlecase }} -->
            {{ "usernombre" | titlecase }}
						{{ "userapellido" | titlecase }}


					</p>
					<mat-divider> </mat-divider>
					<a mat-menu-item (click)="logout()">
            <i class="fa fa-power-off" aria-hidden="true"></i> CERRAR SESIÓN</a


					>
					<mat-divider> </mat-divider>
					<p class="mb-1 h6" mat-menu-item>Roles</p>
					<!-- <ng-container *ngFor="let rol of (user$ | async)?.userInfo.roles">
						<div *ngIf="true">
							<p class="my-2 mx-3" style="font-size: 10px;">{{ rol.nombre }}</p>
						</div>
					</ng-container> -->
        </mat-menu>

				<!-- <li *ngIf="user$ | async" class="nav-item mx-3" [matMenuTriggerFor]="menu"> -->
          <li class="nav-item mx-3" [matMenuTriggerFor]="menu">

					<a class="nav-link d-flex align-items-center pointer">
            <i class="fa fa-user-circle-o texto-primario" aria-hidden="true"></i>

            <!-- <span class="ml-2 texto-primario">{{ (user$ | async)?.userInfo.username }} </span> -->
            <span class="ml-2 texto-primario">{{ user$ }} </span>

					</a>
				</li>

				<!-- <li *ngIf="!(user$ | async)" class="nav-item mx-3" (click)="goToLogin()">
					<a class="nav-link d-flex align-items-center pointer">
						<i class="fa fa-user-circle-o texto-primario" aria-hidden="true"></i>
						<span class="ml-2 texto-primario"> Iniciar Sesión </span>
					</a>
				</li> -->
			</ul>
		</ng-container>

		<div class="d-lg-none">
			<a>
				<i class="fa fa-bars" aria-hidden="true"></i>
			</a>
		</div>
	</mat-toolbar-row>
	<!-- <mat-toolbar-row class="d-none d-lg-block fondo-primario nav-menu" *ngIf="user$ | async"> -->
    <mat-toolbar-row class="d-none d-lg-block fondo-primario nav-menu">

    <app-menu></app-menu>
	</mat-toolbar-row>
</mat-toolbar>
