/* home image */
.cnrt-home-image {
	background-image: linear-gradient(rgba(46, 96, 150, 0.65), rgba(41, 88, 138, 0.8), rgba(35, 74, 116, 0.65)),
		url('../../../assets/img/cnrt-banner.jpg');
	background-color: rgba(45, 96, 150, 0.925);
	height: 55vh;
	width: 100%;
	margin-top: 15px;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}

.home-texto {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.h1-logo-home {
	font-weight: 700;
	font-size: 4rem;
	width: 100%;
	white-space: nowrap;
}

.thin-bar {
	font-weight: 200;
}

.h3-home {
	font-size: 20px !important;
}
.borde-cnrt {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

section {
	margin-bottom: 30px;
}
