<div class="container-fluid mx-0 px-0">
	<div class="cnrt-home-image">
		<div class="home-texto font-montserrat">
			<h1 class="h1-logo-home font-montserrat">
				<span>CNRT</span><span class="thin-bar">|</span
				><span class="texto-primario borde-cnrt">ANGULAR BASE</span>
			</h1>
			<h3 class="h3-home font-montserrat">
				Bienvenido a la web interna de CNRT
			</h3>
		</div>
	</div>
</div>

<section class="container"></section>
