
<div class="container" *ngIf="unPost">

<div class="postHeader">
  <h3 class="display-4" >{{unPost[0].title}}</h3>
  <h6 class="text-muted">{{unPost[0].creator}} | id:{{id}} | Logistica | {{unPost[0].uploadDate.date | date}} </h6>


  <!-- <p>{{unPost[0].image}}</p> -->
</div>
  <!-- <p class="cuerpo">{{unPost[0].content}}</p> -->
  <p class="cuerpo" [innerHTML]="unPost[0].content"></p>

  <div class="foot">

   <button type="button" class="btn" style="background-color: rgb(231, 54, 68); color: white;" >Me Gusta</button>


</div>


