.container{
  padding-top: 1%;
  display: block;
  margin: 0 auto;

}

.postHeader{
  text-align: left;
  padding-bottom: 5%;
}

.foot{
  padding-top: 14rem;
  display: flex;
  text-align: right;
}


