<div class="app component">
<div *ngIf="noEsProduccion | async" class="entorno  {{ environment.entorno }} ">
	{{ environment.entorno }} {{ version }}
</div>
<mat-progress-bar mode="indeterminate" *ngIf="cargando$ | async" style="height: 3px !important;"></mat-progress-bar>
<app-header></app-header>
<mat-drawer-container hasBackdrop="true" class="mb-5">
	<mat-drawer #sidenav mode="push"> </mat-drawer>
	<mat-drawer-content>
		<div class="my-4" style="min-height: 500px;">
			<router-outlet></router-outlet>
		</div>
		<!-- <app-nav-inferior class="my-1"></app-nav-inferior> -->
	</mat-drawer-content>
</mat-drawer-container>

<app-footer class="my-1 fondo-primario"></app-footer>
</div>
