

<h1 class="display-4" style="text-align: center;">CREAR NUEVA NOTICIA</h1>
<div class= "container">

<form [formGroup] ="creatorForm">
  <div class="form-group">
    <label for="title">Titulo</label>
    <input type="text" class="form-control" formControlName="title">
  </div>
    <div class="form-group">
        <label for="content">Contenido</label>
        <div style="background-color: white !important;">
            <angular-editor (keyup)="onkeyup()" formControlName="content" [config]= "editorConfig"></angular-editor>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
          Los primeros 450 caracteres aparecerán como preview de la noticia en la sección de noticias | Quedan {{totalCount}} disponibles.
        </small>
        <!-- <input type="text" class="form-control" formControlName="content"> -->
    </div>


  <div class="col-auto my-1">
    <div class="custom-control custom-checkbox mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="customControlAutosizing" formControlName="isImportant">
      <label class="custom-control-label" for="customControlAutosizing">Marcar como importante</label>
    </div>
  </div>

  <div class="form-group">
    <label for="creator">Autor (ESTE CAMPO SE DEBERÍA COMPLETAR AUTOMATICAMENTE)</label>
    <input type="text" class="form-control" formControlName="creator">
  </div>

</form>
<form [formGroup] ="contentForm">
  <div class="form-group">
    <input type="file" class="form-control" formControlName="imageOne" (change)="onImageSelected($event)">
  </div>
  <div class="form-group">
    <input type="file" class="form-control" formControlName="imageTwo" (change)="onImageSelected($event)">
  </div>
</form>




<div>
  <button (click)="submit()" type="submit" class="btn btn-success" style="width: 20%; margin-left: auto; margin-right:auto;" >Crear</button>
</div>
</div>
