.mb-3{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.important{
  box-shadow: 2px 2px 2px 1px rgb(255, 217, 3) !important;
}

.noticias{
  list-style:none;
}

.custom{
  // padding-left: 10%;
  // vertical-align:middle;
  padding-top: 1%;
  display: flex;
  margin: 0 auto;
  background-color:white;
  max-width: 55rem;
}

.center{
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 1rem;

}
