<div class="container" >
  <div class="jumbotron jumbotron-fluid">
    <div class="container" style=" text-align: center;" >
      <h1 class="display-4">NOTICIAS C.N.R.T</h1>
      <p class="lead">El lugar donde se encuentran todas las novedades relativas a nuestro organismo.</p>
    </div>
  </div>

    <li class="noticias" *ngFor="let post of lisPost" >
      <div class="card mb-3 custom" style="max-width: 55rem; min-width: 55rem;" >

          <div class="card-header " >
            <h3><strong  style="color:#3a96ba;">{{post.title | uppercase}}</strong></h3>
          </div>

          <div class="card-body text-dark">
            <div class="card-text">{{eliminarFormato(limitarCaracteres(post.content))}}</div>
            <!-- <div class="card-text">{{post.content}}</div> -->
            <div class="boton like text-right" style="padding-top: 1%;" >
              <a type="button" class="btn btn-outline-info btn-sm" routerLink="/post/{{post.id}}"
              >Leer mas</a>
            </div>

          </div>

          <div class="card-footer">
              <div class="blockquote-footer">
                  <cite title="Source Title">Creado por: {{post.creator}}</cite>
              </div>
              <div class="blockquote-footer">
                  <cite title="Source Title">Me gusta: {{post.likes}}</cite>
              </div>
              <div class="blockquote-footer" *ngIf="post.isImportant">
                <h6><i class="fa fa-exclamation-circle" aria-hidden="true"></i></h6>
                  <cite title="Source Title" style="color: burlywood;">¡¡ Atención, esta noticia es importante !!</cite>
              </div>
          </div>


      </div>
    </li>
<div class="center">
      <nav aria-label="Page navigation example pagination center">
        <ul class="pagination center">
          <li class="page-item center"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item center"><a class="page-link" href="#" *ngIf="pageNumber >= 3">{{pageNumber-2}}</a></li>
          <li class="page-item center"><a class="page-link" href="#" *ngIf="pageNumber >= 2">{{pageNumber-1}}</a></li>
          <li class="page-item active center"><a class="page-link" href="#">{{pageNumber}}</a></li>
          <li class="page-item center"><a class="page-link" href="#">{{pageNumber -- 1}}</a></li>
          <li class="page-item center"><a class="page-link" href="#">{{pageNumber -- 2}}</a></li>
          <li class="page-item center"><a class="page-link" href="#">{{pageNumber -- 3}}</a></li>
          <li class="page-item center"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
      </nav>
</div>

</div>
