// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-base-primary: mat-palette($mat-indigo);
$angular-base-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-base-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-base-theme: mat-light-theme($angular-base-primary, $angular-base-accent, $angular-base-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-base-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './scss/colores';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mt-primary: mat-palette($cnrt-primario);
$mt-secondary: mat-palette($cnrt-secundario);

// The warn palette is optional (defaults to red).
$mt-danger: mat-palette($md-danger);

$mt-success: mat-palette($md-success);
$mt-warning: mat-palette($md-warning);

// Create the theme object (a Sass map containing all of the palettes).
$cnrt-theme: mat-light-theme($mt-primary, $mt-secondary, $mt-danger);
$cnrt-theme: map_merge(
	$cnrt-theme,
	(
		success-mt: $mt-success,
	)
);
$cnrt-theme: map_merge(
	$cnrt-theme,
	(
		warning-mt: $mt-warning,
	)
);
$success: map-get($cnrt-theme, success-mt);
$warning: map-get($cnrt-theme, warning-mt);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cnrt-theme);

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-success {
	background-color: mat-color($success, 400) !important;
	color: mat-color($success, '400-contrast') !important;
}
.mat-warning {
	background-color: mat-color($warning, 500) !important;
	color: mat-color($warning, '500-contrast') !important;
}
.font-16 {
	font-size: 16px !important;
}
.font-40 {
	font-size: 30px !important;
}

.font-montserrat {
	font-family: montserrat, sans-serif;
}
.nav-menu {
	height: 45px !important;
}

.h1-titulo {
	font-weight: 700;
	font-size: 70px;
}

.h3-titulo {
	font-size: 20px;
}
.borde-cnrt {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.logo-cnrt {
	height: 35px;
	padding-left: 4px;
}

.drop-nav-menu {
	width: 130px !important;
}

.entorno {
	height: 25px;
	text-align: center;
	color: white;
	font-weight: bolder;
	font-size: 1rem;
	line-height: 25px;
}

.entorno.DEMO {
	background-color: #fa5858;
}

.entorno.DESARROLLO {
	background-color: #fe9a2e;
}
.entorno.LOCAL {
	background-color: #010201;
}

.text-success {
	color: #00a65a !important;
}

.pointer {
	cursor: pointer;
}

.active-nav-link {
	color: mat-color($mt-primary) !important;
}

.divider-nav {
	height: 25px;
	width: 1.1px;
	margin: 10px 10px;
	overflow: hidden;
	background-color: white;
	border-right: 1px solid white;
}

.fondo-danger {
	background-color: mat-color($mt-danger, 500);
	color: mat-color($mt-danger, '500-contrast');
}

.fondo-success {
	background-color: mat-color($success, 500);
	color: mat-color($success, '500-contrast');
}

.fondo-warning {
	background-color: mat-color($warning, 500);
	color: mat-color($warning, '500-contrast');
}

.fondo-secundario {
	background-color: mat-color($mt-secondary, 500);
	color: mat-color($mt-secondary, '500-contrast');
}

.fondo-primario {
	background-color: mat-color($mt-primary, 500);
	color: mat-color($mt-primary, '500-contrast');
}

.disabled-custom {
	color: rgb(94, 94, 94);
	background-color: rgb(167, 167, 167);
}

.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
} /* Default */
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}

table {
	width: 100%;
}

tr.example-detail-row {
	height: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: #c4e1ed;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}

.example-element-detail {
	overflow: hidden;
	display: flex;
}

.texto-primario {
	color: mat-color($mt-primary);
}

.texto-secundario {
	color: mat-color($mt-secondary);
}
.texto-warning {
	color: mat-color($mt-warning);
}
.texto-success {
	color: mat-color($mt-success);
}
.texto-danger {
	color: mat-color($mt-danger);
}

input[type='time']::-webkit-clear-button {
	display: none;
}
input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-clear-button {
	display: none;
	appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

*:focus {
	outline: none !important;
	border: 0 !important;
}

.disabled-custom {
	pointer-events: none;
	//opacity:.5;
}

mat-list {
	display: inline-block !important;
}

// style del snackbar

.snackbar {
	min-width: 40vw !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 1rem !important;
	// padding: 10px !important;
	color: white !important;
}

@media only screen and (max-width: 768px) {
	.snackbar {
		min-width: 95vw !important;
	}
}

.header-style-custom {
	border-top: 2px solid #3a96ba;
}

.header-style-custom-gray {
	border-top: 2px solid rgba(128, 128, 128, 0.281);
}

/* width */
div::-webkit-scrollbar {
	width: 15px;
}

/* Track */
div::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgb(234, 238, 240);
}

/* Handle */
div::-webkit-scrollbar-thumb {
	background: rgb(207, 207, 207);
	border-radius: 10px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
	background: #979797;
}
