$cnrt-primario: (
	50: #e7f2f7,
	100: #c4e0ea,
	200: #9dcbdd,
	300: #75b6cf,
	400: #58a6c4,
	500: #3a96ba,
	600: #348eb3,
	700: #2c83ab,
	800: #2579a3,
	900: #186894,
	A100: #caebff,
	A200: #97d7ff,
	A400: #64c3ff,
	A700: #4bbaff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$cnrt-secundario: (
	50: #e6ecf2,
	100: #bfcfe0,
	200: #95afcb,
	300: #6b8fb6,
	400: #4b77a6,
	500: #2b5f96,
	600: #26578e,
	700: #204d83,
	800: #1a4379,
	900: #103268,
	A100: #9dbfff,
	A200: #6a9eff,
	A400: #377cff,
	A700: #1e6cff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$md-success: (
	50: #e7f3e7,
	100: #c4e0c4,
	200: #9ccc9c,
	300: #74b874,
	400: #57a857,
	500: #399939,
	600: #339133,
	700: #2c862c,
	800: #247c24,
	900: #176b17,
	A100: #a4ffa4,
	A200: #71ff71,
	A400: #3eff3e,
	A700: #25ff25,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$md-warning: (
	50: #fef5e1,
	100: #fbe6b3,
	200: #f9d681,
	300: #f7c54e,
	400: #f5b828,
	500: #f3ac02,
	600: #f1a502,
	700: #ef9b01,
	800: #ed9201,
	900: #ea8201,
	A100: #ffffff,
	A200: #ffeede,
	A400: #ffd5ab,
	A700: #ffc891,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$md-danger: (
	50: #f9e4e0,
	100: #f1bbb3,
	200: #e78d80,
	300: #dd5f4d,
	400: #d63d26,
	500: #cf1b00,
	600: #ca1800,
	700: #c31400,
	800: #bd1000,
	900: #b20800,
	A100: #ffdcdb,
	A200: #ffa9a8,
	A400: #ff7775,
	A700: #ff5e5c,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
