<nav class="flex-grow-1">
	<ul class="justify-content-center flex-row navbar-nav font-16">
		<li class="nav-item mx-3 my-0">
			<a
				class="nav-link"
				routerLink="/"
				class="nav-link text-white"
				routerLinkActive="active-nav-link "
				[routerLinkActiveOptions]="{ exact: true }"
				>INICIO</a
			>
    </li>
    <li class="divider-nav"></li>
		<li class="nav-item mx-3 my-0">
			<a
				class="nav-link"
				routerLink="/noticias"
				class="nav-link text-white"
				routerLinkActive="active-nav-link "
				[routerLinkActiveOptions]="{ exact: true }"
				[routerLink]="['/noticias/1']"
				>NOTICIAS</a
			>
    </li>
		<li class="divider-nav"></li>
		<li class="nav-item mx-3 my-0">
			<a
				class="nav-link"
				routerLink="/empresas"
				class="nav-link text-white"
				routerLinkActive="active-nav-link "
				[routerLinkActiveOptions]="{ exact: true }"
				[routerLink]="['/modulo-ejemplo']"
				>EJEMPLO</a
			>
		</li>
    <li class="divider-nav"></li>
		<li class="nav-item mx-3 my-0">
			<a
				class="nav-link"
				routerLink="/operadores"
				class="nav-link text-white"
				routerLinkActive="active-nav-link "
				[routerLinkActiveOptions]="{ exact: true }"
				[routerLink]="['/noticias-module/noticias']"
				>INFORMACION</a
			>
    </li>
    <li class="divider-nav"></li>
    <li class="nav-item mx-3 my-0">
			<a
				class="nav-link"
				routerLink="/empresas"
				class="nav-link text-white"
				routerLinkActive="active-nav-link "
				[routerLinkActiveOptions]="{ exact: true }"
				[routerLink]="['/crearpost']"
				>CREAR POST</a
			>
		</li>
	</ul>
</nav>
