<div class="d-flex justify-content-between text-white mb-3">
	<div class="container">
		<div class="row d-flex justify-content-end">
			<button
				*ngIf="data.btnCerrar"
				class="mb-1"
				style="background-color: transparent; color: white; border: none;"
				(click)="close()"
			>
				<i class="fa fa-times fa-sm" aria-hidden="true"></i>
			</button>
		</div>

		<div class="d-flex justify-content-center" [ngClass]="{ 'mt-3': !data.btnCerrar }">
			<div class="mr-2">
				<i class="fa fa-{{ data.icon }} fa-lg" aria-hidden="true"></i>
			</div>
			<div class="">
				<div style="margin-left: 10px;">{{ data.msg }}</div>
				<div *ngIf="data.errMessagesArray" class="mt-1">
					<ul>
						<li *ngFor="let item of data.errMessagesArray">
							Campo "{{ item.validationErrorProperty | titlecase }}": {{ item.validationErrorMessage }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
